* text=auto eol=lf

.github export-ignore
.gitignore export-ignore
.editorconfig export-ignore
tests export-ignore
phpunit.xml* export-ignore
vite.package.config.js export-ignore
/resources/js export-ignore
